parameters:
	ignoreErrors:
		-
			message: "#^Parameter &\\$configuration by\\-ref type of method OliverKlee\\\\Onetimeaccount\\\\Configuration\\\\FlexForms\\:\\:buildFields\\(\\) expects array\\<string, array\\<string, string\\>\\>, array\\<string, array\\<int\\|string, array\\<int, string\\>\\|string\\>\\> given\\.$#"
			count: 1
			path: Classes/Configuration/FlexForms.php

		-
			message: "#^Binary operation \"\\+\" between mixed and 300 results in an error\\.$#"
			count: 1
			path: Classes/Service/CaptchaFactory.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 3
			path: Tests/Functional/Validation/CaptchaValidatorTest.php

		-
			message: "#^Cannot access offset 'SYS' on mixed\\.$#"
			count: 2
			path: Tests/Unit/Service/CaptchaFactoryTest.php

		-
			message: "#^Cannot access offset 'encryptionKey' on mixed\\.$#"
			count: 2
			path: Tests/Unit/Service/CaptchaFactoryTest.php
