<?xml version="1.0" encoding="UTF-8"?>
<T3DataStructure>
    <sheets>
        <general>
            <ROOT>
                <TCEforms>
                    <!--
                        The sheet title will not be visible in the BE. Still, the XML element needs to be present to
                        avoid a crash in the BE.
                    -->
                    <sheetTitle/>
                </TCEforms>
                <type>array</type>
                <el>
                    <settings.fieldsToShow>
                        <TCEforms>
                            <label>
                                LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.fieldsToShow
                            </label>
                            <config>
                                <type>select</type>
                                <renderType>selectCheckBox</renderType>
                                <minitems>1</minitems>
                                <maxitems>99</maxitems>
                                <itemsProcFunc>
                                    OliverKlee\Onetimeaccount\Configuration\FlexForms->buildFields
                                </itemsProcFunc>
                                <default>fullSalutation,name,address,zip,city,email,telephone</default>
                            </config>
                        </TCEforms>
                    </settings.fieldsToShow>
                    <settings.requiredFields>
                        <TCEforms>
                            <label>
                                LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.requiredFields
                            </label>
                            <config>
                                <type>select</type>
                                <renderType>selectCheckBox</renderType>
                                <minitems>0</minitems>
                                <maxitems>99</maxitems>
                                <itemsProcFunc>
                                    OliverKlee\Onetimeaccount\Configuration\FlexForms->buildFields
                                </itemsProcFunc>
                                <default>name,email</default>
                            </config>
                        </TCEforms>
                    </settings.requiredFields>
                    <settings.systemFolderForNewUsers>
                        <TCEforms>
                            <label>
                                LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.systemFolderForNewUsers
                            </label>
                            <config>
                                <type>group</type>
                                <internal_type>db</internal_type>
                                <allowed>pages</allowed>
                                <size>1</size>
                                <minitems>1</minitems>
                                <maxitems>1</maxitems>
                                <hideSuggest>1</hideSuggest>
                            </config>
                        </TCEforms>
                    </settings.systemFolderForNewUsers>
                    <settings.groupsForNewUsers>
                        <TCEforms>
                            <label>
                                LLL:EXT:onetimeaccount/Resources/Private/Language/locallang.xlf:plugin.groupsForNewUsers
                            </label>
                            <config>
                                <type>group</type>
                                <internal_type>db</internal_type>
                                <allowed>fe_groups</allowed>
                                <size>5</size>
                                <minitems>1</minitems>
                                <maxitems>99</maxitems>
                                <hideSuggest>1</hideSuggest>
                            </config>
                        </TCEforms>
                    </settings.groupsForNewUsers>
                </el>
            </ROOT>
        </general>
    </sheets>
</T3DataStructure>
