{namespace oelib=OliverKlee\Oelib\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:form name="user" object="{user}" controller="{controller}" action="create">
        <fieldset>
            <legend>
                <f:translate key="userDataLegend" extensionName="onetimeaccount"/>
            </legend>

            <oelib:isFieldEnabled fieldName="company">
                <div class="row mb-3">
                    <label for="onetimeaccount-company" class="col-sm-2 col-form-label">
                        <f:translate key="company"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="company" id="onetimeaccount-company" maxlength="80"
                                          class="form-control" errorClass="is-invalid"
                                          additionalAttributes="{autocomplete: 'organization'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'company'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="gender">
                <div class="row mb-3">
                    <label for="onetimeaccount-gender" class="col-sm-2 col-form-label">
                        <f:translate key="gender"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.select property="gender" id="onetimeaccount-gender"
                                       class="form-select" errorClass="is-invalid">
                            <f:form.select.option value="99">
                                <f:translate key="gender.99"/>
                            </f:form.select.option>
                            <f:form.select.option value="0">
                                <f:translate key="gender.0"/>
                            </f:form.select.option>
                            <f:form.select.option value="1">
                                <f:translate key="gender.1"/>
                            </f:form.select.option>
                        </f:form.select>
                        <f:render partial="ValidationResult" arguments="{property: 'gender'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="fullSalutation">
                <div class="row mb-3">
                    <label for="onetimeaccount-fullSalutation" class="col-sm-2 col-form-label">
                        <f:translate key="fullSalutation"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="fullSalutation" id="onetimeaccount-fullSalutation" maxlength="255"
                                          class="form-control" errorClass="is-invalid"/>
                        <f:render partial="ValidationResult" arguments="{property: 'fullSalutation'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="name">
                <div class="row mb-3">
                    <label for="onetimeaccount-name" class="col-sm-2 col-form-label">
                        <f:translate key="name"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="name" id="onetimeaccount-name" maxlength="160"
                                          class="form-control" errorClass="is-invalid"
                                          additionalAttributes="{autocomplete: 'name'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'name'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="firstName|lastName">
                <div class="row">
                    <div class="col">
                        <oelib:isFieldEnabled fieldName="firstName">
                            <div class="row mb-3">
                                <label for="onetimeaccount-firstName" class="col-sm-4 col-form-label">
                                    <f:translate key="firstName"/>
                                </label>
                                <div class="col-sm-8">
                                    <f:form.textfield property="firstName" id="onetimeaccount-firstName" maxlength="50"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'given-name'}"/>
                                    <f:render partial="ValidationResult" arguments="{property: 'firstName'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>
                    </div>
                    <div class="col">
                        <oelib:isFieldEnabled fieldName="lastName">
                            <div class="row mb-3">
                                <label for="onetimeaccount-lastName" class="col-sm-4 col-form-label">
                                    <f:translate key="lastName"/>
                                </label>
                                <div class="col-sm-8">
                                    <f:form.textfield property="lastName" id="onetimeaccount-lastName" maxlength="50"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'family-name'}"/>
                                    <f:render partial="ValidationResult" arguments="{property: 'lastName'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="title">
                <div class="row mb-3">
                    <label for="onetimeaccount-title" class="col-sm-2 col-form-label">
                        <f:translate key="title"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="title" id="onetimeaccount-title" maxlength="40"
                                          class="form-control" errorClass="is-invalid"
                                          additionalAttributes="{autocomplete: 'organization-title'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'title'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="address">
                <div class="row mb-3">
                    <label for="onetimeaccount-address" class="col-sm-2 col-form-label">
                        <f:translate key="address"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="address" id="onetimeaccount-address" maxlength="255"
                                          class="form-control" errorClass="is-invalid"
                                          additionalAttributes="{autocomplete: 'street-address'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'address'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="zip|city">
                <div class="row">
                    <div class="col">
                        <oelib:isFieldEnabled fieldName="zip">
                            <div class="row mb-3">
                                <label for="onetimeaccount-zip" class="col-sm-4 col-form-label">
                                    <f:translate key="zip"/>
                                </label>
                                <div class="col-sm-8">
                                    <f:form.textfield property="zip" id="onetimeaccount-zip" maxlength="10"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'postal-code'}"/>
                                    <f:render partial="ValidationResult" arguments="{property: 'zip'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>
                    </div>
                    <div class="col">
                        <oelib:isFieldEnabled fieldName="city">
                            <div class="row mb-3">
                                <label for="onetimeaccount-city" class="col-sm-4 col-form-label">
                                    <f:translate key="city"/>
                                </label>
                                <div class="col-sm-8">
                                    <f:form.textfield property="city" id="onetimeaccount-city" maxlength="50"
                                                      class="form-control" errorClass="is-invalid"
                                                      additionalAttributes="{autocomplete: 'address-level2'}"/>
                                    <f:render partial="ValidationResult" arguments="{property: 'city'}"/>
                                </div>
                            </div>
                        </oelib:isFieldEnabled>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="zone">
                <div class="row mb-3">
                    <label for="onetimeaccount-zone" class="col-sm-2 col-form-label">
                        <f:translate key="zone"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="zone" id="onetimeaccount-zone" maxlength="45"
                                          class="form-control" errorClass="is-invalid"/>
                        <f:render partial="ValidationResult" arguments="{property: 'zone'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="country">
                <div class="row mb-3">
                    <label for="onetimeaccount-country" class="col-sm-2 col-form-label">
                        <f:translate key="country"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="country" id="onetimeaccount-country" maxlength="40"
                                          class="form-control" errorClass="is-invalid"
                                          additionalAttributes="{autocomplete: 'country-name'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'country'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="email">
                <div class="row mb-3">
                    <label for="onetimeaccount-email" class="col-sm-2 col-form-label">
                        <f:translate key="email"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="email" id="onetimeaccount-email" maxlength="255"
                                          class="form-control" errorClass="is-invalid"
                                          type="email" additionalAttributes="{autocomplete: 'email'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'email'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="telephone">
                <div class="row mb-3">
                    <label for="onetimeaccount-telephone" class="col-sm-2 col-form-label">
                        <f:translate key="telephone"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="telephone" id="onetimeaccount-telephone" maxlength="30"
                                          class="form-control" errorClass="is-invalid"
                                          type="tel" additionalAttributes="{autocomplete: 'tel'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'telephone'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="www">
                <div class="row mb-3">
                    <label for="onetimeaccount-www" class="col-sm-2 col-form-label">
                        <f:translate key="www"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textfield property="www" id="onetimeaccount-www" maxlength="80"
                                          class="form-control" errorClass="is-invalid"
                                          type="url" additionalAttributes="{autocomplete: 'url'}"/>
                        <f:render partial="ValidationResult" arguments="{property: 'www'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="dateOfBirth">
                <div class="row mb-3">
                    <label for="onetimeaccount-dateOfBirth" class="col-sm-2 col-form-label">
                        <f:translate key="dateOfBirth"/>
                    </label>
                    <div class="col-sm-10">
                        <f:comment>
                            We need this workaround because the validation error is on the `dateOfBirth` property,
                            but we only have inputs for the `.date` and `.dateFormat` subfields and hence cannot use the
                            `errorClass` argument.
                        </f:comment>
                        <f:form.validationResults for="user.dateOfBirth">
                            <f:if condition="{validationResults.flattenedErrors}">
                                <f:variable name="dateOfBirthErrorClass" value="is-invalid"/>
                            </f:if>
                        </f:form.validationResults>
                        <f:form.textfield name="user[dateOfBirth][date]" id="onetimeaccount-dateOfBirth" maxlength="10"
                                          class="form-control {dateOfBirthErrorClass}"
                                          type="date" additionalAttributes="{autocomplete: 'bday'}"/>
                        <f:form.hidden name="user[dateOfBirth][dateFormat]" value="Y-m-d"/>
                        <f:render partial="ValidationResult" arguments="{property: 'dateOfBirth'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="status">
                <div class="row mb-3">
                    <label for="onetimeaccount-status" class="col-sm-2 col-form-label">
                        <f:translate key="status"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.select property="status" id="onetimeaccount-status"
                                       class="form-select" errorClass="is-invalid">
                            <f:form.select.option value="0">
                                &nbsp;
                            </f:form.select.option>
                            <f:form.select.option value="1">
                                <f:translate key="status.1"/>
                            </f:form.select.option>
                            <f:form.select.option value="2">
                                <f:translate key="status.2"/>
                            </f:form.select.option>
                            <f:form.select.option value="3">
                                <f:translate key="status.3"/>
                            </f:form.select.option>
                            <f:form.select.option value="4">
                                <f:translate key="status.4"/>
                            </f:form.select.option>
                            <f:form.select.option value="5">
                                <f:translate key="status.5"/>
                            </f:form.select.option>
                        </f:form.select>
                        <f:render partial="ValidationResult" arguments="{property: 'status'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="userGroup">
                <f:if condition="{userGroups -> f:count()} > 1">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <f:translate key="userGroup"/>
                        </div>
                        <div class="col-sm-10">
                            <f:for each="{userGroups}" as="userGroup">
                                <div class="form-check">
                                    <f:form.radio name="userGroup" value="{userGroup.uid}"
                                                  id="onetimeaccount-userGroup-{userGroup.uid}"
                                                  checked="{selectedUserGroup} == {userGroup.uid}"
                                                  class="form-check-input" errorClass="is-invalid"
                                                  additionalAttributes="{required: 'required'}"
                                    />
                                    <label for="onetimeaccount-userGroup-{userGroup.uid}" class="form-check-label">
                                        {userGroup.title}
                                    </label>
                                </div>
                            </f:for>

                            <f:form.validationResults>
                                <f:if condition="{validationResults.flattenedErrors.userGroup}">
                                    <f:for each="{validationResults.flattenedErrors.userGroup}" as="error">
                                        <div class="alert alert-danger" role="alert">
                                            {error.message}
                                        </div>
                                    </f:for>
                                </f:if>
                            </f:form.validationResults>
                        </div>
                    </div>
                </f:if>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="comments">
                <div class="row mb-3">
                    <label for="onetimeaccount-comments" class="col-sm-2 col-form-label">
                        <f:translate key="comments"/>
                    </label>
                    <div class="col-sm-10">
                        <f:form.textarea property="comments" id="onetimeaccount-comments"
                                         class="form-control" errorClass="is-invalid"/>
                        <f:render partial="ValidationResult" arguments="{property: 'comments'}"/>
                    </div>
                </div>
            </oelib:isFieldEnabled>

            <oelib:isFieldEnabled fieldName="privacy">
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <f:form.checkbox property="privacy" id="onetimeaccount-privacy"
                                             class="form-check-input" errorClass="is-invalid" value="1"/>
                            <label for="onetimeaccount-privacy" class="form-check-label">
                                <f:translate key="privacy.long"/>
                            </label>
                            <f:render partial="ValidationResult" arguments="{property: 'privacy'}"/>
                        </div>
                    </div>
                </div>
            </oelib:isFieldEnabled>
        </fieldset>

        <p class="d-flex justify-content-end mt-3 mb-3">
            <f:if condition="{redirectUrl}">
                <input type="hidden" name="redirect_url" value="{redirectUrl}"/>
            </f:if>

            <f:form.submit value="{f:translate(key: 'saveAndContinue')}" class="btn btn-primary"/>
        </p>
    </f:form>
</html>
