{namespace ota=OliverKlee\Onetimeaccount\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:form name="user" object="{user}" controller="{controller}" action="create">
        <fieldset>
            <legend>
                <f:translate key="userDataLegend" extensionName="onetimeaccount"/>
            </legend>

            <ota:isFieldEnabled fieldName="company">
                <div class="form-group">
                    <label for="onetimeaccount-company" class="form-label">
                        <f:translate key="company"/>
                    </label>
                    <f:form.textfield property="company" id="onetimeaccount-company"
                                      class="form-control" errorClass="is-invalid"
                                      additionalAttributes="{autocomplete: 'organization'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'company'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="gender">
                <div class="form-group">
                    <label for="onetimeaccount-gender" class="form-label">
                        <f:translate key="gender"/>
                    </label>
                    <f:form.select property="gender" id="onetimeaccount-gender"
                                   class="form-select" errorClass="is-invalid">
                        <f:form.select.option value="99">
                            <f:translate key="gender.99"/>
                        </f:form.select.option>
                        <f:form.select.option value="0">
                            <f:translate key="gender.0"/>
                        </f:form.select.option>
                        <f:form.select.option value="1">
                            <f:translate key="gender.1"/>
                        </f:form.select.option>
                    </f:form.select>
                    <f:render partial="ValidationResult" arguments="{property: 'gender'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="fullSalutation">
                <div class="form-group">
                    <label for="onetimeaccount-fullSalutation" class="form-label">
                        <f:translate key="fullSalutation"/>
                    </label>
                    <f:form.textfield property="fullSalutation" id="onetimeaccount-fullSalutation"
                                      class="form-control" errorClass="is-invalid"/>
                    <f:render partial="ValidationResult" arguments="{property: 'fullSalutation'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="name">
                <div class="form-group">
                    <label for="onetimeaccount-name" class="form-label">
                        <f:translate key="name"/>
                    </label>
                    <f:form.textfield property="name" id="onetimeaccount-name"
                                      class="form-control" errorClass="is-invalid"
                                      additionalAttributes="{autocomplete: 'name'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'name'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="firstName|lastName">
                <div class="row">
                    <div class="col">
                        <ota:isFieldEnabled fieldName="firstName">
                            <div class="form-group">
                                <label for="onetimeaccount-firstName" class="form-label">
                                    <f:translate key="firstName"/>
                                </label>
                                <f:form.textfield property="firstName" id="onetimeaccount-firstName"
                                                  class="form-control" errorClass="is-invalid"
                                                  additionalAttributes="{autocomplete: 'given-name'}"/>
                                <f:render partial="ValidationResult" arguments="{property: 'firstName'}"/>
                            </div>
                        </ota:isFieldEnabled>
                    </div>
                    <div class="col">
                        <ota:isFieldEnabled fieldName="lastName">
                            <div class="form-group">
                                <label for="onetimeaccount-lastName" class="form-label">
                                    <f:translate key="lastName"/>
                                </label>
                                <f:form.textfield property="lastName" id="onetimeaccount-lastName"
                                                  class="form-control" errorClass="is-invalid"
                                                  additionalAttributes="{autocomplete: 'family-name'}"/>
                                <f:render partial="ValidationResult" arguments="{property: 'lastName'}"/>
                            </div>
                        </ota:isFieldEnabled>
                    </div>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="title">
                <div class="form-group">
                    <label for="onetimeaccount-title" class="form-label">
                        <f:translate key="title"/>
                    </label>
                    <f:form.textfield property="title" id="onetimeaccount-title"
                                      class="form-control" errorClass="is-invalid"
                                      additionalAttributes="{autocomplete: 'organization-title'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'title'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="address">
                <div class="form-group">
                    <label for="onetimeaccount-address" class="form-label">
                        <f:translate key="address"/>
                    </label>
                    <f:form.textfield property="address" id="onetimeaccount-address"
                                      class="form-control" errorClass="is-invalid"
                                      additionalAttributes="{autocomplete: 'street-address'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'address'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="zip|city">
                <div class="row">
                    <div class="col">
                        <ota:isFieldEnabled fieldName="zip">
                            <div class="form-group">
                                <label for="onetimeaccount-zip" class="form-label">
                                    <f:translate key="zip"/>
                                </label>
                                <f:form.textfield property="zip" id="onetimeaccount-zip"
                                                  class="form-control" errorClass="is-invalid"
                                                  additionalAttributes="{autocomplete: 'postal-code'}"/>
                                <f:render partial="ValidationResult" arguments="{property: 'zip'}"/>
                            </div>
                        </ota:isFieldEnabled>
                    </div>
                    <div class="col">
                        <ota:isFieldEnabled fieldName="city">
                            <div class="form-group">
                                <label for="onetimeaccount-city" class="form-label">
                                    <f:translate key="city"/>
                                </label>
                                <f:form.textfield property="city" id="onetimeaccount-city"
                                                  class="form-control" errorClass="is-invalid"
                                                  additionalAttributes="{autocomplete: 'address-level2'}"/>
                                <f:render partial="ValidationResult" arguments="{property: 'city'}"/>
                            </div>
                        </ota:isFieldEnabled>
                    </div>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="zone">
                <div class="form-group">
                    <label for="onetimeaccount-zone" class="form-label">
                        <f:translate key="zone"/>
                    </label>
                    <f:form.textfield property="zone" id="onetimeaccount-zone"
                                      class="form-control" errorClass="is-invalid"/>
                    <f:render partial="ValidationResult" arguments="{property: 'zone'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="country">
                <div class="form-group">
                    <label for="onetimeaccount-country" class="form-label">
                        <f:translate key="country"/>
                    </label>
                    <f:form.textfield property="country" id="onetimeaccount-country"
                                      class="form-control" errorClass="is-invalid"
                                      additionalAttributes="{autocomplete: 'country-name'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'country'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="email">
                <div class="form-group">
                    <label for="onetimeaccount-email" class="form-label">
                        <f:translate key="email"/>
                    </label>
                    <f:form.textfield property="email" id="onetimeaccount-email"
                                      class="form-control" errorClass="is-invalid"
                                      type="email" additionalAttributes="{autocomplete: 'email'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'email'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="telephone">
                <div class="form-group">
                    <label for="onetimeaccount-telephone" class="form-label">
                        <f:translate key="telephone"/>
                    </label>
                    <f:form.textfield property="telephone" id="onetimeaccount-telephone"
                                      class="form-control" errorClass="is-invalid"
                                      type="tel" additionalAttributes="{autocomplete: 'tel'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'telephone'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="www">
                <div class="form-group">
                    <label for="onetimeaccount-www" class="form-label">
                        <f:translate key="www"/>
                    </label>
                    <f:form.textfield property="www" id="onetimeaccount-www"
                                      class="form-control" errorClass="is-invalid"
                                      type="url" additionalAttributes="{autocomplete: 'url'}"/>
                    <f:render partial="ValidationResult" arguments="{property: 'www'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="dateOfBirth">
                <div class="form-group">
                    <label for="onetimeaccount-dateOfBirth" class="form-label">
                        <f:translate key="dateOfBirth"/>
                    </label>
                    <f:comment>
                        We need this workaround because the validation error is on the `dateOfBirth` property,
                        but we only have inputs for the `.date` and `.dateFormat` subfields and hence cannot use the
                        `errorClass` argument.
                    </f:comment>
                    <f:form.validationResults for="user.dateOfBirth">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <f:variable name="dateOfBirthErrorClass" value="is-invalid"/>
                        </f:if>
                    </f:form.validationResults>
                    <f:form.textfield name="user[dateOfBirth][date]" id="onetimeaccount-dateOfBirth"
                                      class="form-control {dateOfBirthErrorClass}"
                                      type="date" additionalAttributes="{autocomplete: 'bday'}"/>
                    <f:form.hidden name="user[dateOfBirth][dateFormat]" value="Y-m-d"/>
                    <f:render partial="ValidationResult" arguments="{property: 'dateOfBirth'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="status">
                <div class="form-group">
                    <label for="onetimeaccount-status" class="form-label">
                        <f:translate key="status"/>
                    </label>
                    <f:form.select property="status" id="onetimeaccount-status"
                                   class="form-select" errorClass="is-invalid">
                        <f:form.select.option value="0">
                            &nbsp;
                        </f:form.select.option>
                        <f:form.select.option value="1">
                            <f:translate key="status.1"/>
                        </f:form.select.option>
                        <f:form.select.option value="2">
                            <f:translate key="status.2"/>
                        </f:form.select.option>
                        <f:form.select.option value="3">
                            <f:translate key="status.3"/>
                        </f:form.select.option>
                        <f:form.select.option value="4">
                            <f:translate key="status.4"/>
                        </f:form.select.option>
                        <f:form.select.option value="5">
                            <f:translate key="status.5"/>
                        </f:form.select.option>
                    </f:form.select>
                    <f:render partial="ValidationResult" arguments="{property: 'status'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="comments">
                <div class="form-group">
                    <label for="onetimeaccount-comments" class="form-label">
                        <f:translate key="comments"/>
                    </label>
                    <f:form.textarea property="comments" id="onetimeaccount-comments"
                                     class="form-control" errorClass="is-invalid"/>
                    <f:render partial="ValidationResult" arguments="{property: 'comments'}"/>
                </div>
            </ota:isFieldEnabled>

            <ota:isFieldEnabled fieldName="privacy">
                <div class="form-check">
                    <f:form.checkbox property="privacy" id="onetimeaccount-privacy"
                                     class="form-check-input" errorClass="is-invalid" value="1"/>
                    <label for="onetimeaccount-privacy" class="form-check-label">
                        <f:translate key="privacy.long"/>
                    </label>
                    <f:render partial="ValidationResult" arguments="{property: 'privacy'}"/>
                </div>
            </ota:isFieldEnabled>
        </fieldset>

        <p class="mt-3">
            <f:form.submit value="{f:translate(key: 'saveAndContinue')}" class="btn btn-primary"/>
        </p>
    </f:form>
</html>
